.last {
  margin: 120px 0;
}
.last__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 150px;
}
.last__content {
  padding: 66px 0;
}
.last__imgs {
  position: relative;
}
.last_line {
  position: absolute;
  right: -130px;
  top: 50px;
  z-index: 5;
}
.last_user_img {
  border-radius: 50%;
}
.last_round {
  position: absolute;
  right: -135px;
}
.last__content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #495567;
  margin-bottom: 24px;
}
.last__content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #939caa;
  width: 445px;
  margin-bottom: 40px;
}
.last__content button {
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  width: 180px;
  height: 53px;
  border: none;
  cursor: pointer;
}
.last__content button:hover {
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fcb72b;
  background: #fff;
  border: 3px solid #fcb72b;
  width: 180px;
  height: 53px;
}
.responsive_img {
  display: none;
}
/* Responsive */
@media (max-width: 1395px) {
  .last__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 100px;
  }
  .last_round {
    position: absolute;
    right: -85px;
  }
  .last_line {
    width: 320px;
    position: absolute;
    right: -84px;
    top: 50px;
    z-index: 5;
  }
}
@media (max-width: 1295px) {
    .last_line {
        width: 320px;
        position: absolute;
        right: -30px;
        top: 50px;
        z-index: 5;
    }
  .last__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 55px;
  }
  .last_round {
    position: absolute;
    right: -60px;
  }
  .last_user_img {
    width: 435px;
    height: 435px;
  }
}
@media (max-width: 1195px) {
    .last_line {
        width: 430px;
        position: absolute;
        right: -30px;
        top: 50px;
        z-index: 5;
    }
  .last__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .last__content {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .last__imgs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .last_user_img {
    width: 452px;
    height: 452px;
  }
  .last__content h2 {
    width: 457px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #495567;
    margin-bottom: 40px;
    text-align: center;
  }
  .last__content p {
    width: 573px;
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #939caa;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media(max-width: 800px) {
    .last_line {
        width: 370px;
        position: absolute;
        right: -50px;
        top: 50px;
        z-index: 5;
    }
}
@media (max-width: 750px) {
  .last_round {
    display: none;
  }
}
/* @media(max-width: 780) {
    .offer_round {
      display: none;
    }
  } */
@media (max-width: 761px) {
  .last__imgs {
    overflow: hidden;
  }
  .last_user_img {
    width: 401px;
    height: 401px;
  }
  .responsive_img {
    display: flex;
    position: absolute;
    height: 130px;
    width: 380px;
    bottom: 0;
  }
  .last__content p {
    width: 311px;
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #939caa;
  }
  .last__content h2 {
    width: 311px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #495567;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 551px) {
    .last_line {
            width: 290px;
            position: absolute;
            right: -91px;
            top: 20px;
            z-index: 5;
    }
  .last_user_img {
    width: 311px;
    height: 311px;
  }
  .responsive_img {
    display: flex;
    position: absolute;
    height: 130px;
    width: 345px;
    bottom: 0;
  }
}
@media (max-width: 400px) {
  .responsive_img {
    display: flex;
    position: absolute;
    height: 130px;
    width: 305px;
    bottom: 0;
  }
}
